# Files to ignore when packaging this chart.
# This file supports shell-style glob patterns.

# directories
.DS_Store
.git/
.gitignore
.vscode/

# files
.terraform.lock.hcl
*.swp
*.bak
*.tmp
*.log
charts/
